<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Whether you're a beginner embarking on your driving journey or seeking to enhance your existing skills, we've got what you need! Our personalized instruction ensure a learning experience that is both enriching and enjoyable. Join us at River Dale Driving, where your road to driving proficiency begins.
                </p>
                <a href="#contact" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
