
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.twitter_username }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="formbold-main-wrapper">
                    <!-- Author: FormBold Team -->
                    <!-- Learn More: https://formbold.com -->
                    <div class="formbold-form-wrapper">
                        <form method="POST" action="https://script.google.com/macros/s/AKfycbw_wncpGjoZb9jaIkLkDpeIk3dSz8b7j4opmPrtHF9Iem3ewQEvzjo0--cvw-wxDYQb/exec" id="contact-form">
                        <div class="formbold-mb-5">
                          <input
                            type="text"
                            name="Name"
                            id="name"
                            placeholder="Full Name"
                            class="formbold-form-input"
                          />
                        </div>
                        <div class="formbold-mb-5">
                          <input
                            type="email"
                            name="Email"
                            id="email"
                            placeholder="Enter your email"
                            class="formbold-form-input"
                          />
                        </div>
                  
                        <div class="formbold-mb-5">
                          <input
                            type="text"
                            name="Phone"
                            id="phone"
                            placeholder="Enter your Phone Number"
                            class="formbold-form-input"
                          />
                        </div>
                  
                        <div class="formbold-mb-5">
                          <textarea
                            rows="8"
                            name="Message"
                            id="message"
                            placeholder="Please briefly enter your enquiry"
                            class="formbold-form-input"
                          ></textarea>
                        </div>
                  
                        <div>
                          <button class="formbold-btn">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
            </div>            
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
  
</section>

<script>
   window.addEventListener("load", function() {
  // Get the form element by its ID
  const form = document.getElementById('contact-form');

  // Add a submit event listener to the form
  form.addEventListener("submit", function(e) {
    // Prevent the default form submission behavior
    e.preventDefault();

    // Display an alert message immediately
    alert("Thank you! We will get back to you soon!");

    // Create a FormData object to collect form data
    const data = new FormData(form);

    // Get the action URL from the form's action attribute
    const action = e.target.action;

    // Send a POST request to the specified URL with the form data
    fetch(action, {
      method: 'POST',
      body: data,
    })
    .then(() => {
      // Reset the form fields after a successful request
      form.reset();
    });
  });
});


</script>